/* styles.css */
img {
    max-width: 50%; /* Ensure images don't exceed their container width */
    border-radius: 5px;
    height: auto;    /* Maintain aspect ratio */
    border-radius: 10px;
    /* Add any other styles you want for your images */
    }
